<!DOCTYPE html>
<html>
<head>
  <title>Conta Corrente Criada</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: rgba(255, 255, 149, 0.493);">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">Conta Corrente Criada</h1>
            <p class="card-text text-center">A conta corrente foi criada com sucesso!</p>
            <div class="text-center">
              <a href="/login" class="btn btn-primary">Ir para a Tela Index</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
